<h2 class="mb-4">Hospital Dashboard</h2>
<div class="list-group">
  <a href="/requests/new" class="list-group-item list-group-item-action">Request Blood</a>
  <a href="/requests/my" class="list-group-item list-group-item-action">View My Requests</a>
</div>
