<% layout('layouts/main') -%>
<h2 class="mb-4">My Blood Requests</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Blood Type</th>
      <th>City</th>
      <th>Status</th>
      <th>Request Date</th>
    </tr>
  </thead>
  <tbody>
    <% requests.forEach(req => { %>
      <tr>
        <td><%= req.blood_type %></td>
        <td><%= req.request_city %></td>
        <td><%= req.patient_status %></td>
        <td><%= new Date(req.created_at).toDateString() %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
