<h2 class="mb-4">Blood Bank Staff Dashboard</h2>
<div class="list-group">
  <a href="/staff/register-donor" class="list-group-item list-group-item-action">Register New Donor</a>
  <a href="/staff/add-donation" class="list-group-item list-group-item-action">Add New Donation</a>
    <a href="/staff/donation-list" class="list-group-item list-group-item-action">Update Test Results</a>

</div>
